@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* 
    CABEÇALHO E SEUS ESTILOS 
*/

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F4EFDF;
    padding: .7em 5em .7em 5em;
    box-shadow: 1px 6px 5px 1px rgba(0, 0, 0, 0.308);
    position: relative;
}

header .logoMarca
{
    width: 14em;
    cursor: pointer;
}

nav ul
{
    display: flex;
    align-items: center;
    gap: 2em;
    flex-direction: row;
}

nav ul li 
{
    color: #5C4328;
    cursor: pointer;
    font-weight: bolder;
    border-bottom: 3px solid transparent;
    margin: 0 1em 0 1em;
    padding: 1em 0;
}

nav ul li:hover
{
    border-color: #5C4328;
    transition: all ease-in-out .4s;
}

nav li.entrarCadastrar
{
    display: flex;
    margin-top: -.5em;
    align-items: center;
    gap: .8em;
    border: none;
    position: relative;
}

nav li.entrarCadastrar::after
{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #5C4328;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all ease-in-out .5s;
}

nav li.entrarCadastrar:hover::after
{
    width: 100%;
}

nav ul li.entrarCadastrar img
{
    width: 2em;
}