/* 
    ESTILOS GERAIS
*/

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    position: relative;
}

html
{
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #689250;
    }

    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 #689250;


    -ms-overflow-style: none;
    scrollbar-base-color: #f1f1f1;
    scrollbar-face-color: #689250;
    scrollbar-arrow-color: #689250;
    scrollbar-shadow-color: #689250;
    scrollbar-highlight-color: #689250;
    scrollbar-3dlight-color: #689250;
    scrollbar-darkshadow-color: #689250;
}
