.avisoPrincipal
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4.5em 0em;
    width: 100%;
    padding: 2em 0;
    background-color: #F4EFDF;
}

.avisoPrincipal h1
{
    margin-left: -.8em;
    font-size: 32px;
}

/* 
    BANNER
*/

.container
{
    position: relative;
    display: flex;
    width: 100%;
    margin: 7em 0em;
    height: 25em;
    background-color: #A2C68C;
}

.container .banner
{
    position: absolute;
    margin-top: -.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 130%;
}

.container .banner img
{
    margin-top: 1em;
    height: 100%;
    width: 100%;
}

.containerDenuncie
{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: 2.5em 0em;
}

.containerDenuncie p
{
    text-align: justify;
    width: 50%;
    text-indent: 1em;
    font-weight: bold;
}

.containerDenuncie button
{
    background-color: #81A969;
    padding: 2em;
    text-align: center;
    border-radius: 100em;
    width: 15%;
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: .5s all ease-in-out;
}

.containerDenuncie button:hover
{
    background-color: #89b372;
    transition: .5s all ease-in-out;
}