/* 
    inicio -> RODAPÉ  
*/

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
    gap: 5em;
    width: 100%;
    background: linear-gradient(to bottom, transparent 60%, black 300%);
}

.redesSocias
{
    position: absolute;
    right: 0;
    margin-right: 7em;
    display: flex;
    gap: 3em;
}

.textoRodape
{
    position: absolute;
    left: 0;
    margin-left: 7em;
    display: flex;
    gap: 3em;    
}

footer img
{
    width: 1.3em;
    cursor: pointer;
}


/* 
    fim -> RODAPÉ  
*/
